* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    
}


body {
    width: auto;
    height: 100vh;
    


    background: rgb(60,60,60);
    background: linear-gradient(0deg, rgba(60,60,60,1) 0%, rgba(60,60,60,1) 0%, rgba(124,124,124,1) 100%);

    

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 0 60px;
    min-width: 400px;
    font-size: 16px;
}

img {
    width: 16vw;
    min-width: 200px;
    
    /* height: 12vh; */

    /* margin: 30px 0; */
    margin: 80px 0 40px 0;
    border-radius: 50px;

}

h3 {
    /* font-family: 'Roboto', sans-serif;
    font-family: 'Poppins', sans-serif; */
    /* font-family: 'Barlow', sans-serif; */
    /* font-family: 'Secular One', sans-serif; */
    /* width: 70vw; */

    font-family: 'Jost', sans-serif;

    font-size: 5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: aliceblue;
    margin: 40px 0;
}

h3 b{
    color: #5ca1eb;
}

h4 {
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    color: white;
}

h4 b{
    font-weight: 500;
    color: #81beff;
}

h5 {
    margin-top: 100px;
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    font-weight: 200;
    color: white;
}

button {
    width: 300px;
    height: 80px;
    margin: 40px 0;
    background-color: #5ca1eb;
    border: none;
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    transition: all ease-in-out 0.2s;
  
}

button:hover {
    background-color: #3089e7;
    border-radius: 20px;
}
button:active{
    transform: scale(0.9);
}

a {
    display: block;
  text-decoration: none;
  color: white;
  
}


/* CONTACT FORM */


form {
    margin: 2em;
    border-radius: 20%;
    width: auto;
    height: 60vh;

    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;

    
    
  }
  form input, form textarea {
    width: 30vw;
    min-width: 420px;
    height: 40px;
    
    margin-top: 30px;
    padding: 0 24px;
    appearance: none;
    
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Jost', sans-serif;
    
    font-size: 1.4em;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-align: start;

    /* background-color: rgb(236, 236, 236); */
    background-color: rgba(252, 252, 252, 0);
    border-radius: 6px;
    
    cursor: text;
    
    /* outline: #6ab1fc; */
    border: 2px solid white;
    border-right: white;
    border-top: #ffffff;

    /* color: rgb(39, 39, 39); */
    color: #81beff;
    
       
}

form input::placeholder, form textarea::placeholder {
    
    color: aliceblue;
}



form input::selection {
    background-color: #888888;
    color: white;
    
  }

  form input:focus-visible, form textarea:focus-visible {
    outline: 1px solid rgba(0, 0, 0, 0);
    background-color: aliceblue;
    
  }
  form div {
    width: auto;
    height: 20px;
    margin: auto;
    position: relative;
    top: -2px;
    left: 25px;
    font-size: 0.9rem;
  }
  form textarea {
    height: 20vh;
    overflow-wrap: break-word;
    padding: 20px 24px;
    
    text-align: justify;
    word-break: keep-all;
  }
  form textarea::selection {
    background-color: #888888;
    color: white;
  }
  form .submit {
    width: 12vw;
    min-width: 200px;
    height: 12vh;
    min-height: 40px;
    margin: auto;
    margin-top: 30px;
    padding: 0;
    cursor: pointer;
    border: none;

    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    text-align: center;
    background-color: #6ab1fc;
    color: black;
  }
  form .submit:hover {
    background-color: #386aa0;
    color: white;
    
  }
  form .submit:active {
    transform: scale(0.9);
  }
  
  .invalid {
    color: rgb(219, 33, 0);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: left;
  }
  
  .error {
    border: solid 3px rgb(219, 33, 0);
  }




  /* MEDIA QUERIES */
  @media screen and (max-width: 1400px) {
    img {
      /* height: 10vh; */
      width: 16vw;
      margin: 50px 0 30px 0;
    }
    
    h3 {
      font-size: 4rem;
      margin-top: 20px;
    }

    h5 {
      margin-top: 80px;
    }

    button {
      width: 260px;
      height: 60px;
      font-size: 1.8rem;
    }

  }
  @media screen and (max-width: 1000px) {

    h5 {
      margin-top: 80px;
    }
    
  }
  @media screen and (max-width: 780px) {
    .container {
      margin: 0 30px;
    }
    
    h3 {
      font-size: 3.4rem;
    }
    h4 {
      font-size: 1.6rem;
    }
    h5 {
      font-size: 1.6rem;
    }

    form input, form textarea {
      min-width: 320px;
      font-size: 1em;
      padding: 0 20px;
    }
    form .submit {
      min-width: 160px;
      min-height: 36px;
    }
    
  }
  @media screen and (max-width: 530px) {
    .container {
      margin: 0 20px;
      min-width: 340px;
    }

    img {
      /* height: 10vh; */
      margin: 30px 0 10px 0;
    }

    h3 {
      font-size: 3rem;
    }

  

  }
  @media screen and (max-width: 430px) {
    img {
      /* height: 10vh; */
      min-width: 150px;
    }

    h3 {
      font-size: 2.6rem;
    }
    h5 {
      margin-top: 40px;
    }
    form input, form textarea {
      min-width: 280px;
      height: 30px;
      padding: 0 15px;
    }

    form textarea {
      height: 20vh;
    }

    form .submit {
      min-width: 140px;
      min-height: 30px;
      font-size: 1.3rem;
    }
    
  
  }

  @media screen and (max-width: 380px) {
    h3 {
      font-size: 2.2rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1.5rem;
      margin-top: 20px;
    }


  
  }
  